<div>
  <h1>FUNCION SENCILLA</h1>
  <input (keyup)="escribirText($event)" />
  <p>{{ text }}</p>
</div>
<!-- -------------------------- -->
<!-- <div>
    <h1>ngSwitch demo</h1>
    <div [ngSwitch]="text" class="ngSwitch">
      <div *ngSwitchCase="'happy'">😊</div>
      <div *ngSwitchCase="'sad'">😅</div>
      <div *ngSwitchDefault>😀</div>
    </div>
  </div> -->
<!-- -------------------------- Susutituimos todo esto por esta lineas-->
<div>
    <h1>Switch con ngFor</h1>
    <div [ngSwitch]="text" class="ngSwitch">
      <div *ngFor="let emoji of emojis">
        <div *ngSwitchCase="emoji.text">{{ emoji.icon }}</div>
        <!-- para cada texto de los textos del array te muestre su icono -->
      </div>
      <div *ngSwitchDefault>😀</div>
    </div>
  </div>
<!-- -------------------------- -->



<div (click)="siExiste()">
  <h1>Clases</h1>
  <div class="{{ showDiv ? 'true' : 'false' }} ">estado de la variable showDiv: {{ showDiv }}</div>
  <div *ngIf="showDiv">showDiv es verdadero</div>
<!-- como existe showDiv muestra esto -->
  <div *ngIf="!showDiv">showDiv es falso</div>
  <!-- como existe showDiv ahora es diferente muestra esto -->
</div>
<!-- -------------------------- -->

<div class="{{ cambioCheck ? 'verdadero' : 'falso' }} ">
    <h1>Cuadrado</h1>
  <input type="checkbox"  value='{{cambioCheck}}' (click)="siCheck()"> 

</div>
<!-- -------------------------- -->
<div class="emojis">
    <h1>emojis</h1>
    <span *ngFor="let caso of mios">{{ caso.nombre}} => {{ caso.apellidos}}</span>
  </div>
<!-- -------------------------- -->
  <div class="emojis">
      <h1>Array</h1>
      <div *ngFor="let emoji of emojis">{{ emoji.text }} => {{ emoji.icon }}</div>
    </div>
    
