.true{
    border-bottom: solid blue 1px;
  }
  
  .false {
    border-bottom: solid red 1px;
  }

  .verdadero{
      background-color: yellow;
      width: 200px;
      height: 200px;
  }
  .falso{
    background-color:green;
    width: 200px;
    height: 200px;
}
.emojis{
  background-color:grey;
    width: 200px;
   
}
.ngSwitch {
  font-size: 3em;
}
